.env
.git
.github
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
data/
tests/
.pytest_cache
.coverage
htmlcov/
*.log
TODO.txt
reset_docker.sh
INSERT
requirements-dev.txt
pytest.ini
README_ci.MD